.env
node_modules/
web/node_modules/
.parcel-cache/
web/.parcel-cache/
dist/
web/dist/
geofencer/static/
geofencer/tmp/
geofencing.log
__pycache__/
*.pyc
geofencing_with_web_interface/
config.json
geometry_modifier/
some_text.txt
geofencer/__pycache__
app/

env/