NGW_HOST=https://sandbox.nextgis.com
NGW_LOGIN=administrator
NGW_PASSWORD=demodemo
TOP_LAYER_ID=3409
TOP_LAYER_ATTRIBUTE_PARAMS_FOR_MESSAGE=['id']
TOP_LAYER_BUFFER=100
BOTTOM_LAYER_ID=3410
BOTTOM_LAYER_ATTRIBUTE_PARAMS_FOR_MESSAGE=['id']
BOTTOM_LAYER_BUFFER=200 
SCRIPT_PARAMETERS_GEOFENCE_MODE=intersection
SCRIPT_PARAMETERS_TMP_FILES_PATH=./tmp/
SCRIPT_PARAMETERS_UPDATE_PERIOD_SEC=10
SCRIPT_PARAMETERS_MESSAGE_TYPE=console_message
OPTIONAL_PARAMETERS_TG_USER_ID=REPLACE_WITH_YOUR_TG_ID
